@font-face {
    font-family: "AvenirBook";
    src: url(../fonts/AvenirBook.ttf);
}

@font-face {
    font-family: Designer;
    src: url(../fonts/DESIGNER.otf);
}

html {
    overflow-y: hidden;
}

body, html {
    font-family: 'AvenirBook', sans-serif;
    overflow-x: hidden !important;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.4;
}

button {
    background: transparent;
    cursor: pointer;
    border: none;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0 !important;
}

button:focus {
    outline: none;
}

a {
    text-decoration: none !important;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
    /*background: inherit;*/
    border-color: inherit;
}

img {
    width: 100%;
}

.text-green {
    color: #006E44 !important;
}

.bg-green {
    background: #006E44 !important;
}

.text-black {
    color: black !important;
}

.font-designer {
    font-family: 'Designer', sans-serif !important;
    text-transform: uppercase;
}

.container {
    max-width: 1250px;
}

/*Navbar*/
.nav-container {
    background: #006E44;
    padding: 10px;
}

.navbar {
    transition: all 0.3s;
}

.navbar-nav {
    text-align: center;
}

.nav-link {
    color: #959595 !important;
    margin: 0 0.8rem;
    transition: all 0.3s;
    text-transform: uppercase;
    font-family: "Designer", sans-serif;
    font-size: 18px;
}

.nav-link:hover {
    color: #FFFFFF !important;
}

.nav-active {
    color: #FFFFFF !important;
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1030;
    /*height: 65px;*/
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.16);
}

.sticky .navbar {
    padding: .25rem 1rem !important;
}

#nav-logo {
    /*display: none;*/
}

#nav-logo img {
    max-width: 80px;
}

/*Navbar*/

/*Content*/
.banner-img {
    position: relative;
}

.banner-logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.banner-logo img {
    max-width: 70%;
}

.default-heading {
    font-family: "Designer", sans-serif;
    text-align: center;
    padding: 15px;
    color: white;
    text-transform: uppercase;
}

.top-margin {
    margin-top: 95px;
}

.btn-default {
    padding: 10px 50px;
    /*font-size: 20px;*/
    background: #006E44;
    color: white !important;
    text-transform: uppercase;
    border-radius: 10px;
    transition: all 0.3s;
}

.btn-default:hover {
    background: #04c77c;
}

.section {
    padding: 25px 0;
    text-align: center;
}

.contact-form {
    background: #006E44;
    padding: 15px 0; /*it was 30px 0; before */
}

.allcontent {
    overflow: hidden;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

/*Contact form styling STARTS*/
.error-popup2{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
}
.popup-wrap2{
    background: #006E44 !important;
    border-radius: 5px;
 /*   box-shadow: 0 0 5px 5px rgba(0,0,0,0.2); */
    padding: 5px 10px;
    max-width: 500px;
    margin: auto;
}
.hide-popup2{
    text-align: right;
    cursor: pointer;
    font-weight: bold;
}
.popup-text2{
    padding: 10px 30px 30px;
    text-align: center;
    color:white;
}

/* NEWS LETTER POPUP STYLING */
.error-popupNL{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
}
.popup-wrapNL{
    background: #006E44 !important;
    border-radius: 5px;
 /*   box-shadow: 0 0 5px 5px rgba(0,0,0,0.2); */
    padding: 5px 10px;
    max-width: 500px;
    margin: auto;
}
.hide-popupNL{
    text-align: right;
    cursor: pointer;
    font-weight: bold;
}
.popup-textNL{
    padding: 10px 30px 30px;
    text-align: center;
    color:white;
}
/* NEWS LETTER POPUP STYLING */
/*Contact form styling END*/
.allcontent .error-popup {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
}

.allcontent .form-control:focus {
    background: white !important;
}

.allcontent .popup-wrap {
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    max-width: 500px;
    margin: auto;
}

.allcontent .hide-popup {
    text-align: right;
    cursor: pointer;
    font-weight: bold;
}

.allcontent .popup-text {
    padding: 10px 30px 30px;
    text-align: center;
    color: #344E41;
}

.btn-border {
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    transition: all 0.3s;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn-border:hover {
    padding: 10px 30px;
}

/**Steps**/
.steps-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 470px;
}

.steps-section.ed {
    height: auto;
}

.steps-container {
    max-width: 900px;
    margin: auto;
    text-align: center;
    padding: 20px 0;
    position: relative;
    /*opacity: 0;*/
}

.step {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 33%;
    margin: 0 -5px;
}

.step-text {
    font-size: 16px;
    transition: all 0.3s;
    color: #006E44;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 10px;
}

.step-text img {
    max-width: 200px;
    margin-bottom: 15px;
}

.popup-text-wrap {
    padding: 10px 20px;
}

.step-popup-m h5 {
    font-weight: 500;
    padding-bottom: 10px;
}

.step .arrow {
    position: absolute;
    bottom: -25px;
    left: 45%;
    width: 30px;
    height: 0;
    opacity: 0;
    transition: all 0.3s;
}

.step:hover .arrow {
    opacity: 1;
    height: 25px;
}

.arrow img {
    width: 100%;
    height: 100%;
}

.step-popup {
    border-radius: 10px;
    background: #006E44;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    max-height: 0;
}

.popup-wrap {
    padding: 10px 20px;
}

.step-popup h5 {
    font-weight: 500;
    padding-bottom: 10px;
}

.popup1, .popup2, .popup3 {
    max-height: 0;
    opacity: 0;
    transition: all 0.3s;
    overflow: hidden;
}

.show-popup {
    padding: 10px 20px;
    margin-top: 15px;
    opacity: 1;
    max-height: 300px;
    /*transition: all 0.8s;*/
}

.show-arrow {
    opacity: 1 !important;
    height: 25px !important;
}

/*Steps End*/

.course-grid {
    position: relative;
}

.course-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 110, 68, 0.3);
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.course-button {
    position: absolute;
    bottom: 10px;
}

.course-button a {
    background: rgba(0, 110, 68, 0.6);
    display: inline-block;
    border-radius: 5px;
    color: white;
    transition: all 0.3s;
    overflow: hidden;
    padding: 8px;
    text-transform: uppercase;
    font-family: "Designer", sans-serif;
}

.course-button.btn-learn {
    left: 15px;
}

.course-button.btn-book {
    right: 15px;
}

.course-button a:hover {
    transition-delay: 0s !important;
    background: rgba(0, 110, 68, 1);
}

.doc-1 {
    background-image: url("../img/doc-1.png");
    background-position: top;
    background-size: cover;
    min-height: 320px;
}

.doc-2 {
    background-image: url("../img/doc-2.png");
    background-position: top;
    background-size: cover;
    min-height: 320px;
}

.doc-3 {
    background-image: url("../img/doc-3.jpg");
    background-position: top;
    background-size: cover;
    min-height: 320px;
}

/*FAQ*/
#main .card {
    margin-bottom: 10px;
    background: transparent;
}

#main .card-body {
    z-index: 0;
    position: relative;
    text-align: left;
    color: white;
    background: rgba(0, 110, 68, .7);
}

#main .card-header {
    background: #006E44;

}

#main .btn-header-link {
    color: white !important;
    /*font-size: 24px;*/
    letter-spacing: 1px;
    display: block;
    text-align: left;
    /*padding-top: 10px;*/
    /*font-family: 'Century Gothic', sans-serif; */
    font-weight: bold;
}

#main .btn-header-link:focus {
    box-shadow: none;
}

#main .btn-header-link:after {
    font-family: 'Font Awesome 5 Free';
    content: "\f068";
    font-weight: 900;
    float: right;
    font-size: 12px;
    color: white;
    margin-top: 5px;

}

#main .btn-header-link.collapsed:after {
    font-family: 'Font Awesome 5 Free';
    content: "\f067";
    font-weight: 900;
    float: right;
    font-size: 12px;
    color: white;
    margin-top: 5px;
}

#main .btn {
    white-space: initial;
}

@media screen and (max-width: 991px) {
    .nav-item {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #nav-logo img {
        max-width: 60px;
    }

    .sticky .navbar {
        padding: .25rem !important;
    }

    .top-margin {
        margin-top: 75px;
    }

    .steps-section {
        height: auto;
    }

    .step-text {
        font-size: 16px;
        padding: 10px;
        letter-spacing: 1px;
    }
}

/*footer*/
footer {
    text-align: center;
}

footer a {
    color: black !important;
    transition: all 0.3s;
}

footer a:hover {
    font-weight: bold;
}

.social-links a {
    color: #006E44 !important;
    font-size: 24px;
    margin: 0 3px;
}

.footer-logo {
    max-width: 100px;
}

footer .bg-green a {
    color: white !important;
}

/*footer End*/

.scroll {
    overflow: auto;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #006E44;
}

/* Preloader */
.preloaderBg {
    position: fixed;
    z-index: 10000;
    top: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preloader-wrap {
    position: relative;
    width: 250px;
    height: 250px;
}

.preloader-logo {
    margin: auto;
    background: url(../img/logo.png) no-repeat center;
    background-size: 150px;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 25px;
    left: 25px;
    animation: fadeIn 1s ease-in-out infinite;
}

.preloader-circle {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #006E44;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    animation: spin 1s ease-in-out infinite;
    position: absolute;
    top: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*News Letter*/
.Signup {
    /*padding: 25px 15px 0;*/
}

.Signup h5 {
    font-family: 'Designer', sans-serif;
    text-transform: uppercase;
}

.Signup__text {
    text-align: center;
}

.Signup__form {
    display: flex;
    justify-content: center;
}

.Signup__form input {
    border: 1px solid #006E44;
    border-radius: 3px;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
    margin-right: 10px;
    color: #6d6d6d;
    transition: border 0.3s, box-shadow 0.3s;
    width: 90%;
    max-width: 360px;
    height: 40px;
    border-radius: 10px;
}
.Signup__form .btn-default {
    padding: 5px 50px;
    height: 42px;

}

.Signup__form input:focus {
    outline: none;
    border: 1px solid #006E44;
    box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

@media (max-width: 540px) {
    .Signup__form {
        display: block;
    }

    .Signup__form input {
        margin: 0;
        width: 100%;
        max-width: 400px;
        margin-bottom: 15px;
    }
}

.floating-btn {
    position: fixed;
    right: 15px;
    bottom: 30px;
}

.floating-btn .btn-default {
    /*box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);*/
    background: #c0c0c0;
    color:#006E44 !important;
}

/*DropDown*/
.nav-dropdown {
    position: absolute;
    top: 40px;
    left: 20px;
    background: #006E44 !important;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    padding: 0;
    min-width: 190px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
    /*display: none;*/
    height: 0;
    z-index: 1031;
    text-align: left !important;
    list-style-type: none;
    margin: 0;
}

.nav-sub {
    top: 0;
    left: 190px;
    min-width: 150px;
}

.nav-dropdown .nav-link {
    margin: 0;
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    padding: 10px 15px !important;
}

ul li:hover > .nav-dropdown,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    /*display: block;*/
    height: 120px;
}

ul li:hover > .nav-sub,
ul li ul:hover {
    height: auto;
}

ul li:focus > .nav-dropdown,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    /*display: block;*/
    height: 120px;
}

.dropdown-icon {
    display: none;
}

@media screen and (max-width: 991px) {
    .nav-dropdown {
        position: relative;
        top: 0;
        left: 0;
    }

    .nav-dropdown .nav-link {
        text-align: center;
    }

    ul li:hover > .nav-dropdown,
    ul li ul:hover {
        height: auto;
    }

    ul li:hover > .nav-sub,
    ul li ul:hover {
        height: auto;
    }

    ul li:focus > .nav-dropdown,
    ul li ul:focus {
        height: auto;
    }

    .dropdown-icon {
        position: absolute;
        right: 10px;
        top: 10px;
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        color: #959595 !important;
    }

    .footer-logo {
        max-width: 100px;
        margin: auto;
    }

    .floating-btn {
        position: fixed;
        right: 0;
        left: 0;
        width: 100%;
        text-align: center;
        bottom: 10px;
    }
    .footer-bottom{
        padding-bottom: 65px !important;
    }
}

